@font-face {
  font-family: Dancing Script;
  src: 
  url(./assets/fonts/DancingScript-VariableFont_wght.ttf) format('truetype'),
  url(./assets/fonts/DancingScript-Bold.ttf) format('truetype'),
  url(./assets/fonts/DancingScript-Bold.eot) format('eot'),
  url(./assets/fonts/DancingScript-Bold.woff2) format('woff2'),
  url(./assets/fonts/DancingScript-Medium.ttf) format('truetype'),
  url(./assets/fonts/DancingScript-Medium.eot) format('eot'),
  url(./assets/fonts/DancingScript-Medium.woff2) format('woff2'),
  url(./assets/fonts/DancingScript-Regular.ttf) format('truetype'),
  url(./assets/fonts/DancingScript-Regular.eot) format('eot'),
  url(./assets/fonts/DancingScript-Regular.woff2) format('woff2'),
  url(./assets/fonts/DancingScript-SemiBold.ttf) format('truetype'),
  url(./assets/fonts/DancingScript-SemiBold.eot) format('eot'),
  url(./assets/fonts/DancingScript-SemiBold.woff2) format('woff2'),
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & > textArea {
    padding: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
